@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    cursor: pointer;
    border: none;
    padding: 8px;
    color: white;
    border-radius: 4px;
}

.custom-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.custom-input .char {
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 3px solid #1e1e1e;
    min-width: 1.25em;
    font-size: 1.5em;
    font-weight: normal;
}

.custom-input .wrong {
    color: #FF6961;
    border-bottom: 3px solid #FF6961;
}

.word-display {
    position: absolute;
    top: 64px;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    font-size: 64px;
    font-weight: lighter;
}

.word-display-sub-1 {
    font-size: 24px;
    font-weight: 400;
    opacity: 0.5;
}

.word-display-sub-2 {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.25;
    margin-top: 4px;
}

.word-display-sub-3 {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.125;
    margin-top: 4px;
}

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    width: 75vw;
    height: auto;
    padding: 16px;
    border-radius: 8px;
    transform: translate(-50%, -50%);

    background: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}

.timer {
    position: absolute;
    top: 32px;
    right: 48px;
    font-size: 24px;
}

/*Animations*/

.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pop-in {
    animation-name: pop-in;
    animation-duration: 250ms;
    animation-iteration-count: 1;
}

@keyframes pop-in {
    0% {
        scale: 0;
    }

    50% {
        scale: 1.25;
    }

    100% {
        scale: 1;
    }
}

.explosion {
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 125px);
    left: calc(50% - 125px);

    animation-name: explosion;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

@keyframes explosion {
    0% {
        opacity: 0;
        scale: 0;
    }

    50% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 1.9;
    }
}

.typing-error {
    animation-name: typingError;
    animation-duration: 125ms;
    animation-iteration-count: 2;
}

@keyframes typingError {
    0% {
        transform: translate(0, -50%);
    }

    25% {
        transform: translate(5px, -50%);
    }

    50% {
        transform: translate(0, -50%);
    }

    75% {
        transform: translate(-5px, -50%);
    }

    100% {
        transform: translate(0, -50%);
    }
}
